/* 파일 경로: components/OesolLogo.module.css (이 코드로 덮어쓰세요) */

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  
  /* 1. (!! 수정 !!) 
     margin-bottom 값을 16px에서 0으로 변경합니다.
     (정렬은 부모인 .sidebar가 담당합니다.)
  */
  margin-bottom: 0;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .logo {
    width: 32%;

    max-width: 240px; 
    
    /* 2. (!! 수정 !!)
       모바일에선 .sidebar의 flex가 해제되므로
       카드와의 간격을 16px로 다시 설정합니다.
    */
    margin-top: -13%;
    
    margin-left: auto;
    margin-right: auto;
  }
}